<!DOCTYPE html>
<html>
      <head>
            <meta charset="UTF-8" />
            <title>{% block title %}Bootsrap et Symfony2{% endblock %}</title>
     
            {# ... #}
     
            {% block stylesheets %}

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            
             
            {% endblock %}
     
            {# ... #}
     
        </head>
      <body>
     
            {# ... #}
     
            <div class="container">
              {% block body %}{% endblock %}
              </div>
     
            {% block javascripts %}
                <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            {% endblock %}
     
            <script type="text/javascript">
                  $(document).ready(function() {
                    {% block document_ready %}{% endblock %}
                  });
            </script>
        </body>
</html>