
{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-md-2">BIM</div><div class="col-md-2">BIM</div>
    <div class="media">
      Hello {{ name }}!
    </div
    <div class="row">TEST&1</div>
    <div class="row">TEST&2</div>
{% endblock %}

